.footer-distributed {
    background: rgb(216,195,254);
    background: radial-gradient(circle, rgba(216,195,254,0.12510941876750703) 1%, rgba(31,27,46,0.45284051120448177) 100%);
    backdrop-filter: blur(31.2450008392334px);
    width: 100%;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    display: flex;
    justify-content: center;
}

.footer_texte {
    text-align: left;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #ffffff;
    margin-top: 80px;
}


.footer_titre {
    font-size: 15px;
    color: var(--footer_texte);
}

.footer_texte a {
    color: var(--color-texte-footer);
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

.footer_texte li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer_texte {
    padding: 0;
    margin: 0;
}

.footer__pages {
    display: flex;
}

.footer-center {
    position: relative;
    right: 500px;
}

.footer-right {
    position: relative;
    margin-left: auto;
    right: 50px;
}

.footer-left {
    margin-right: auto;
    position: relative;
}

