.hero {
    display: flex;
    justify-content: space-between;
  }
  
  .hero-text {
    width: 50%;
  }
  
  .hero__img {
    width: 50%;
    position: relative;
    top: 51px;
  }

  .hero_title {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero_description {
    position: relative;
    top: 11px;
  }

.hero-text {
    margin-left: 85.5px;
}



  
