.presentation-text {
	text-align: center;
	margin: 0;
}

.presentation-title {
	margin: 0;
}

.presentation {
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;  
}

.presentation-img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.presentation {
    background: var(--presentation, linear-gradient(90deg, rgba(31, 27, 46, 0.05) -7.61%, rgba(216, 195, 254, 0.10) 49.55%, rgba(0, 0, 0, 0.05) 90.1%));
    backdrop-filter: blur(31.24287223815918px);
}