.pricing-container {
  display: flex;
  position: relative;
  justify-content: space-between; 
  max-width: 100%;
  margin: 0 auto; 
  top: 100px;
}
.pricing {
  width: 48%;
  margin: 90px;
  padding-bottom: 30px;
  border-radius: 20px;
  background: var(--Tarif, linear-gradient(90deg, rgba(31, 27, 46, 0.07) -2.88%, rgba(216, 195, 254, 0.02) 140.09%));
  box-shadow: 0px 4px 4px 0px rgba(216, 195, 254, 0.10);
  }

  .card-price{
    padding: 30px;
    margin: 0;

  }
  
  .pricing hr {
    margin-right: 55px;
    margin-left: 55px;
    text-align: center;
    color: black;
  }
  
  .pricing ul li {
    margin: 25px;
    margin-bottom: 5px;
    list-style-type: none;
  }

  
  .btn {
    text-align: center;
   
}
.discover_button{
position: relative;
font-weight: var(--body-1-fw);
background-color: var(--color-details);
border: 1px solid var(--color-details);
padding: 10px 30px 10px 30px;
border-radius: 15px;
align-items: center;
text-decoration: none;
font-family: 'inter';
font-weight: 700;
font-size: var(--boutons);
color: var(--color-texte);
top: 5px;
}

.pricing__title {
  position: relative;
  top: 100px;
}