.pricing-container {
  display: flex;
  justify-content: space-between; 
  max-width: 100%;
  margin: 0 auto; 
}
.pricing {
  width: 48%;
  margin: 60px;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  border-radius: 20px;
  padding-bottom: 30px;
  }

  .card-price{
    padding: 30px;
    margin: 0;

  }
  
  .pricing hr {
    margin-right: 55px;
    margin-left: 55px;
    text-align: center;
    color: black;
  }
  
  .pricing ul li {
    margin: 25px;
    margin-bottom: 5px;
    list-style-type: none;
  }
  
  .pricing .text-muted {
    opacity: 20%;
  }
  
  .btn {
    text-align: center;
   
}
.discover_button{
position: relative;
font-weight: var(--body-1-fw);
background-color: var(--color-details);
border: 1px solid var(--color-details);
padding: 10px 30px 10px 30px;
border-radius: 15px;
align-items: center;
text-decoration: none;
font-family: 'inter';
font-weight: 700;
font-size: var(--boutons);
color: var(--color-texte);
top: 5px;
}